div.card.border-dark.md-3 id="#{dom_id connection}"
  .card-header.d-flex.flex-wrap.align-items-center.justify-content-md-between
    p.mb-0
      strong
        =< connection.title 
    div.d-flex
      p.mb-0
        => link_to t('buttons.edit', model_name: Connection.name.downcase), edit_user_connection_path(user_id: @user, id: connection), class: 'btn btn-outline-info'

      p.mb-0
        => link_to '❌', user_connection_path(user_id: @user, id: connection),
                    method: :delete,
                    data: { turbo_method:'delete',
                            turbo_confirm: t('alerts.delete_confirmation') }, class: 'btn btn-outline-danger'
  .card-body
    p
      strong
        = t('connection.chat_id') 
        | :
      =< connection.chat.name
    p 
      strong
        = t('connection.project_key') 
        | :
      =< connection.project_key
    p.mb-0
      strong
        = link_to t('connection.jira_project'), "#{connection.jira_site}jira/software/projects/#{connection.project_key}/issues", class: 'nav-link'


