.form-signin.w-50.m-auto
  = form_with model: [ @user, @connection ] do |form|
    - if @connection.errors.any?
      div style="color: red"
        ul
          - @connection.errors.each do |error|
            li = error.full_message
            
    div.field.form-floating
      = form.text_field :title, class: 'form-control', placeholder: "Title"
      = form.label :title, t('connection.title')
    br
    div.field.form-floating
      = form.text_field :project_key, class: 'form-control', placeholder: "Project key"
      = form.label :project_key, t('connection.project_key'), style: "display: block"
    br
    div.field.form-floating
      = form.text_field :jira_site, class: 'form-control', placeholder: "Site"
      = form.label :jira_site, t('connection.jira_site'), style: "display: block"
    br
    div.field.form-floating
      = form.text_field :jira_email, class: 'form-control', placeholder: "jira_email@example.com"
      = form.label :jira_email, t('connection.jira_email'), style: "display: block"
    br
    div.field.form-floating
      = form.text_field :jira_api_token, class: 'form-control', placeholder: "Jira API token"
      = form.label :jira_api_token, t('connection.jira_api_token'), style: "display: block"
    br
    div.field
      = form.label :chat_id, t('connection.chat_id')
      = form.collection_select :chat_id, @chats, :id, :name, {prompt: ''}, {class: 'form-select'}
    br
    div
      = form.submit t('buttons.submit'), class: 'btn-outline-primary w-80 btn btn-lg'
