h1
  =< t('titles.edit', model_name: Connection.name.downcase)

br

== render "form", connection: @connection

br

div
  =< link_to t('buttons.back', place: User.name.downcase), user_path(@user), class: 'nav-link'
