h2
  = t('.title') 
  = resource_name.to_s.humanize
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, t('.email')
  br
  = f.email_field :email, autofocus: true, autocomplete: "email"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      = t('.waiting_confirmation')
      = resource.unconfirmed_email
  .field
    = f.label :password, t('.password')
    i
      = t('.password_message')
  br
  = f.password_field :password, autocomplete: "new-password"
  - if @minimum_password_length
    br
    em
      = t('.minimum_length_message', minimum_password_length: @minimum_password_length)
  
  .field
    = f.label :password_confirmation, t('.password_confirmation')
  br
  = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :current_password, t('.current_password')
    i
      = t('.current_password_message')
  br
  = f.password_field :current_password, autocomplete: "current-password"
  .actions
    = f.submit t('.submit')
h3
  = t('.cancel_account_title')
p
  = t('.unhappy')
  = button_to t('.cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
= link_to t('.back'), :back
