.form-signin.w-50.m-auto
  h2.h2.mb-3.fw-normal
    = t('.title')
  br
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field.form-floating
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@example.com", class: 'form-control'
      = f.label :email, t('.email')
    br
    - if @minimum_password_length
      = t('.minimum_length_message', minimum_password_length: @minimum_password_length)
    br
    .field.form-floating
      = f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: 'form-control'
      = f.label :password, t('.password')
    br
    .field.form-floating
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password", class: 'form-control'
      = f.label :password_confirmation, t('.password_confirmation')
    br
    .actions.
      = f.submit t('.submit'), class: 'btn-outline-primary w-80 btn btn-lg'
    | or
  = render "devise/shared/links"
