div 
    = link_to t('buttons.new', model_name: Connection.name.downcase), new_user_connection_path(@user), class: 'btn btn-outline-primary'
br
h2
  = t('titles.connections') 
  | :
- if @user.connections.empty?
  = t('titles.empty_connections')
- else
  .row
    .col-sm-4
      = render @user.connections