h2
  = t('.title')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, t('.password')
  br
  - if @minimum_password_length
    em
      = t('.minimum_length_message', minimum_password_length: @minimum_password_length)
    br
  = f.password_field :password, autofocus: true, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, t('.password_confirmation')
  br
  = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit t('.submit')
= render "devise/shared/links"
