h2
  = t('.title')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, t('.email')
  br
  = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit t('.submit')
= render "devise/shared/links"
