div.
  h1.h1
    = t('titles.home') 
  - unless user_signed_in?
    p 
      = link_to t('buttons.login'), new_user_session_path, class: 'btn btn-outline-primary'
    p
      = link_to t('buttons.registration'), new_user_registration_path, class: 'btn btn-outline-primary'
  - else 
    p 
      = button_to t('buttons.exit'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary'
    p  
      = link_to t('titles.profile'), user_url(current_user), class: 'btn btn-outline-primary'