.form-signin.w-50.m-auto
  h2.h2.mb-3.fw-normal
    = t('.title')
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.form-floating
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "email@example.com"
      = f.label :email, t('.email')
    br
    .field.form-floating
      = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "Password"
      = f.label :password, t('.password')
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me, class: 'checkbox mb-3'
        =< f.label :remember_me, t('.remember_me')
    .actions
      = f.submit t('.submit'), class: 'btn-outline-primary w-80 btn btn-lg'
    | or
  = render "devise/shared/links"
