doctype html
html
  head
    title
      | Hefestus Bot
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body.bg-light.bg-gradient
    .border-bottom
      .container
        header.d-flex.flex-wrap.align-items-center.justify-content-end.justify-content-md-between.py-3
          .text-start.col-md-3.d-flex.align-items-center
            h1.h2.mb-0
              | HEFESTUS BOT
            - if I18n.locale == :ru
              = link_to '🇬🇧', { locale: :en }, class: 'nav-link pb-0'
            - else 
              = link_to '🇷🇺', { locale: :ru }, class: 'nav-link pb-0'
          - if controller_name != 'registrations' && controller_name != 'sessions'
            - unless user_signed_in?
              .col-md-3.text-end 
                = link_to t('buttons.login'), new_user_session_path, class: 'btn btn-outline-primary me-2'
                = link_to t('buttons.registration'), new_user_registration_path, class: 'btn btn-outline-primary'
            - else
              .col-md-3.text-end.d-flex.align-items-center
                p.mx-2.mb-0.fw-semibold
                  = current_user.email 
                = button_to t('buttons.exit'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary'
    
    
    .container
      .col-sm-4
        - unless notice.nil?
          br
          p.notice.alert-success.alert
            = notice 
        p.alert 
          = alert


    main.container.text-center
      = yield
